{% extends "home/index.html" %}

{% block content %}
    <div class="middle">
        <div class="patient-info">
            <h2>Dados do Paciente </h2>
            <div class="general-info">
                <h3>Informações Gerais</h3>
                <div class="info-row">
                    
                </div>
        </div> 
    </div>

    <div class="right">
        <label class="btn btn-primary" id="edt">Editar</label>
        <label class="btn btn-primary" id="save">Salvar</label>
    </div>

    <script>
        document.getElementById('edt').addEventListener('click', function() {
            window.location.href = '/record/add/{{patient.id}}';
        });
    
    </script>

{% endblock content %}