<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>MedSync - Login</title>
    <link rel="stylesheet" href="../../static/css/login/style.css">
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form class="sign-in-form" method="post">
                    {{form.csrf_token}}
                    <h2 class="title">Entrar</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        {{form.email(placeholder="exemplo@email.com")}}        
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {{form.password(placeholder="********")}}
                    </div>
                    {{form.submit(value="Entrar", class="btn solid")}}

                    <p>Não possui conta?</p>
                    <a href="/register">Registre-se</a>

                    <p class="social-text">Ou entre com suas redes sociais</p>
                    <div class="social-media">
                        <a href="" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <h3>MedSync Solutions</h3>

                <img src="https://firebasestorage.googleapis.com/v0/b/innate-watch-406316.appspot.com/o/assets%2Flogin.svg?alt=media&token=a98b4a02-c71e-416b-ab56-3ba328bb622a" class="image">
            </div>
</body>

</html>